name: Build Test
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CCACHE_COMPILERCHECK: "content"
      CCACHE_NOHASHDIR: "true"
      CCACHE_SLOPPINESS: "time_macros,include_file_mtime,file_macro,pch_defines,system_headers"
      CCACHE_MAXSIZE: "10G"
      CCACHE_HARDLINK: "true"
      CCACHE_COMPRESS: "true"
      CCACHE_COMPRESSLEVEL: "1"
      CCACHE_DIRECT: "true"
      KERNEL_DEFCONFIG: "star2qlte_chn_open_defconfig"
      EXTRAVERSION: "-RelDEV"
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: Andrey0800770/samsung_sdm845-kernel
          ref: dev
          submodules: "false"
          fetch-depth: 1
          
      - name: Set up ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: kernel-build-${{ github.sha }}
          restore-keys: |
            kernel-build-
          max-size: 10G
          
      - name: Install dependencies
        run: |
          sed -i 's/EXTRAVERSION =.*/EXTRAVERSION = ${{ env.EXTRAVERSION }}/' Makefile
          sudo apt-get update -y 
          sudo apt-get install -y --no-install-recommends aria2 binutils make python3 libssl-dev build-essential bc bison flex unzip ca-certificates xz-utils mkbootimg cpio device-tree-compiler git
          aria2c -x16 -s16 -k1M https://github.com/ZyCromerZ/Clang/releases/download/22.0.0git-20250924-release/Clang-22.0.0git-20250924.tar.gz
          mkdir zyc-clang
          tar -I pigz -xf Clang-*.tar.gz -C zyc-clang 2>/dev/null || tar -xzf Clang-*.tar.gz -C zyc-clang
          git clone --depth=1 https://github.com/Andrey0800770/kernel-build/ -b anykernel AnyKernel3 && rm -rf AnyKernel3/.git*
          
      - name: Build Kernel
        run: |
          export KBUILD_BUILD_USER="andrey" KBUILD_BUILD_HOST="linux"
          export PATH=$(pwd)/zyc-clang/bin/:$PATH
          export CCACHE_DIR=$HOME/.ccache
          ccache -z
          make ARCH=arm64 CC="ccache clang" LLVM=1 O=out -j$(nproc --all) $KERNEL_DEFCONFIG
          make ARCH=arm64 CC="ccache clang" LLVM=1 O=out -j$(nproc --all)
          ccache -s
          cp out/arch/arm64/boot/Image.gz-dtb AnyKernel3
          
      - name: Upload Kernel
        uses: actions/upload-artifact@v4
        with:
          name: kernel-${{ env.KERNEL_DEFCONFIG }}-${{ github.run_number }}
          path: "AnyKernel3/*"
          compression-level: 6
